<!-- グループメンバーの表示 -->
<h2><%= "#{@current_group.name}グループのメンバー" %></h2>
<ul class="list-group" style="max-width: 400px;">
  <% @group_users.each do |user| %>
    <li class="list-group-item"><%= user.name %></li>
  <% end %>
</ul>