<% if @error_message %>
  <div class="alert alert-danger">
    <%= @error_message %>
  </div>
<% end %>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-xl-3 mx-auto">
      <div class="form-signin">
        <%= form_tag("/signin") do %>
          <div class="form-group">
            <h1 class="h3 mb-3 font-weight-normal">Sign in</h1>
            <input class="form-control" name="email" placeholder="メールアドレス" value="<%= @email %>" required autofocus>
            <input type="password"  class="password form-control" name="password" placeholder="パスワード" value="<%= @password %>" required>
            <input type="submit" class="btn btn-primary btn-block" value="Sign in">
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>