<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-xl-6">
      <h2>スケジュール作成</h2>
      <%= form_tag("/schedules/create") do %>
        <p>時刻</p>
        <input type="datetime-local" class="form-control" name="datetime">
        <p>タイトル</p>
        <input class="form-control" name="title">
        <p>概要</p>
        <textarea class="form-control" rows="5" name="abs"></textarea>
        <p>参加メンバー</p>
        <% @group_users.each do |group_member| %>
          <div class="form-check form-check-inline">
            <input type="checkbox" class="form-check-input" name="join_member_ids[]" value="<%= group_member.id %>">
            <label class="form-check-label">
              <%= group_member.name %>
            </label>
          </div>
        <% end %>
        <input type="submit" class="btn btn-primary btn-block" value="作成">
      <% end %>
    </div>
  </div>
</div>