<div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-xl-6">
        <p class="lead">不正な操作が行われました。</p>
        <%= link_to("トップへ", "/schedules/top", {class: "btn btn-primary btn-block"}) %>
      </div>
    </div>
  </div>