<div class="container">
  <div class="h1">Group Schedulesとは</div>
  <div class="lead">複数人（グループ）でのスケジュール管理を支援するWebサイトです。</div>
  <div class="row">
    <div class="card col-sm-12 col-md-6">
      <%= image_tag("/calendar_icon_8.png", :class => "card-img-top") %>
      <div class="card-body">
        <h5 class="card-title">スケジュール管理</h5>
        <p class="card-text">一週間単位のカレンダー形式で日程を表示します。</p>
      </div>
    </div>
    <div class="card col-sm-12 col-md-6">
      <%= image_tag("/group_members.png", :class => "card-img-top") %>
      <div class="card-body">
        <h5 class="card-title">グループでの管理</h5>
        <p class="card-text">グループを作成し、友人や同僚を誘うことでグループ単位のスケジュール管理を可能にします。</p>
      </div>
    </div>
  </div>
</div>
