<div class="container-fluid top-main">
    <div class="text-center text-light">
        <h2>グループスケジュール管理</h2>
        <p>友人や同僚とスケジュールを共有しよう。</p>
        <div class="row">
            <div class="col-md-6 mx-auto">
                <%= link_to("Sign up", "/users/new", {class: "btn btn-outline-light btn-block"}) %>
                <%= link_to("Sign in", "/signin", {class: "btn btn-outline-light btn-block"}) %>    
            </div>
        </div>
    </div>
</div>
<%= render partial: 'copyright' %>

