// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
header {
  height: 64px;
  background-color: slategray;
}

.top-message {
  background-image: url("/ogasawara_ocean.jpg");
  background-size: cover;
}

.top-message h2 {
  text-align: center;
  font-size: 35px;
  margin:0 0 100px;
}

.top-message p {
  text-align: center;
  font-size: 28px;
}