// Place all the styles related to the Schedules controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 * {
  box-sizing: border-box;
 }

.schedule-wrapper {
  width: 1376px;
}

.schedule-wrapper ul {
  padding-left: 0;
}

.schedule-wrapper li {
  display: inline-block;
  color: black;
  float: left;
  border: 1px solid black;
  margin: 0;
  width: 172px;
}

.schedule-space li {
  height: 100px;
}

.schedule-space a {
  color: black;
}

.schedule-number li {
  text-align: center;
}
