// Place all the styles related to the Schedules controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

 * {
  box-sizing: border-box;
 }

.date {
  margin-top: 10px;
  margin-bottom: 10px;
}

.container-fluid p {
  margin-top: 5px;
  margin-bottom: 5px;
}

.btn-primary {
  margin-top: 10px;
}

.list-members {
  margin-right:3px;
}
